<ion-header>
  <ion-toolbar [color]="chatProps.color">
    <!-- buttons -->
    <ion-buttons slot="start">
      <ion-button (click)="closeChat()">
        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- title -->
    <ion-title>
      <ion-text color="light">{{chatProps.nombre}}</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="usuario && messages" #chatList>
    <ion-row *ngFor="let message of messages">
      <ion-col size="8" [offset]="usuario.docId === message.usuarioDocId? 4: 0">
        <ion-card [class]="usuario.docId === message.usuarioDocId? 'card-message': 'card-message-user'" >
          <ion-card-header *ngIf="usuario.docId !== message.usuarioDocId">
            <ion-chip color="light" style="width: 100%;">
              <ion-avatar>
                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjYzVkYmZmIiBkPSJNMCAwaDUxMnY1MTJIMHoiLz48cGF0aCBkPSJNMjU2IDMwNGM2MS42IDAgMTEyLTUwLjQgMTEyLTExMlMzMTcuNiA4MCAyNTYgODBzLTExMiA1MC40LTExMiAxMTIgNTAuNCAxMTIgMTEyIDExMnptMCA0MGMtNzQuMiAwLTIyNCAzNy44LTIyNCAxMTJ2NTZoNDQ4di01NmMwLTc0LjItMTQ5LjgtMTEyLTIyNC0xMTJ6IiBmaWxsPSIjODJhZWZmIi8+PC9zdmc+">
              </ion-avatar>
              <ion-label>
                <ion-text color="light">{{message.usuarioNombre}}</ion-text>
              </ion-label>
            </ion-chip>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="light">&nbsp; &nbsp; ~ {{message.contenido}}</ion-text>
            <br>
            <ion-text color="light">
              <span  style="display:block;text-align:end;margin-top: 9px;">{{message.fecha.toDate() | date:'short'}}</span>
            </ion-text> 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- input messages -->
<ion-footer>
  <ion-item> 
    <ion-textarea #textarea [(ngModel)]="myMessage" maxlength="21" autofocus></ion-textarea>
    <div class="input-wrapper">
      <ion-button color="success" (click)="sendMessage()">
        <ion-icon size="small" name="send"></ion-icon>
      </ion-button>
      <ion-badge slot="end" [color]="chatProps.color">
        <ion-text color="light">{{textarea.value.length}}/21</ion-text>
      </ion-badge>
    </div>
  </ion-item>
</ion-footer>